In [4]:
# numpy
import numpy as np

# pandas
import pandas as pd

# seaborn
import seaborn as sns

# matplotlib의 pyplot
import matplotlib.pyplot as plt

# matplotlib 시각화 결과를 jupyter notebook에서 바로 확인하기 위한 코드 작성
%matplotlib inline

In [6]:
data = pd.read_csv("Pokemon.csv")
print(data.shape) #13개 컬럼, 800개 데이터
print(data.info())

(800, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB
None

In [7]:
print(data.isnull().sum()) #type2에만 결측지 존재

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [9]:
data[data['Type 2'].isnull()].head()
#Type 2 가 결측치여도 다른값이 채워져 있기 때문에 바로 제거해서는 안된다.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

In [11]:
legendary = data[data['Legendary']==True] 
print(legendary.shape) #전설 포켓몬은 총 65개 존재
print(legendary.head(5))

(65, 13)
       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True

In [18]:
print('전체 데이터 중 전설 포켓몬 데이터 비욜 : {}%'.format(len(legendary)/len(data)*100))

전체 데이터 중 전설 포켓몬 데이터 비욜 : 8.125%

In [20]:
general = data[data['Legendary']==False]
print(general.shape) #일반 포켓몬은 총 735개 존재
print(general.head(5))

(735, 13)
   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

In [22]:
print(list(data.columns))

['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

In [27]:
print(len(data['#'].unique())) # #값은 721개 존재 ---- why?

721

In [28]:
print(data['#'].value_counts()) # 479 6개

479    6
386    4
710    4
711    4
646    3
      ..
250    1
251    1
252    1
253    1
721    1
Name: #, Length: 721, dtype: int64

In [29]:
print(data[data['#']==479]) #이름에 Rotom들어간 애들은 다 같은 id값

       #              Name    Type 1  Type 2  Total  HP  Attack  Defense  \
531  479             Rotom  Electric   Ghost    440  50      50       77
532  479   RotomHeat Rotom  Electric    Fire    520  50      65      107
533  479   RotomWash Rotom  Electric   Water    520  50      65      107
534  479  RotomFrost Rotom  Electric     Ice    520  50      65      107
535  479    RotomFan Rotom  Electric  Flying    520  50      65      107
536  479    RotomMow Rotom  Electric   Grass    520  50      65      107

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
531       95       77     91           4      False
532      105      107     86           4      False
533      105      107     86           4      False
534      105      107     86           4      False
535      105      107     86           4      False
536      105      107     86           4      False

In [30]:
print(data[data['#']==386]) #이름에 Forme 들어있는 애들

       #                 Name   Type 1 Type 2  Total  HP  Attack  Defense  \
428  386   DeoxysNormal Forme  Psychic    NaN    600  50     150       50
429  386   DeoxysAttack Forme  Psychic    NaN    600  50     180       20
430  386  DeoxysDefense Forme  Psychic    NaN    600  50      70      160
431  386    DeoxysSpeed Forme  Psychic    NaN    600  50      95       90

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
428      150       50    150           3       True
429      180       20    150           3       True
430       70      160     90           3       True
431       95       90    180           3       True

In [32]:
print(len(data['Name'].unique()))

800